<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p> this is login page</p>

<h1><%=user.name%></h1>


<br>
<hr>

<h1><%=msg%></h1>
<br>
<hr>

<ul>
    <%for (var i = 0;i<list.length;i++){%>
    <li><%=list[i]%></li>
    <%} %>

</ul>

</body>
</html>